html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow-y: scroll; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: sans-serif; }

div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

applet {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

object {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

iframe {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

h4 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

h5 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

pre {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: inline-block;
  text-decoration: none; }

abbr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

acronym {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

address {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

big {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

cite {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

code {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

del {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

dfn {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

em {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-style: italic; }

img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 100%;
  border: 0;
  vertical-align: middle; }

ins {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

kbd {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

q {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

s {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

samp {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

small {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

strike {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

strong {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

sub {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
  bottom: -.25em; }

sup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
  top: -.7em; }

tt {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

var {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

b {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

u {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

i {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

center {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

dl {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

dt {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

dd {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ol {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: inline-block;
  list-style-type: none; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  cursor: pointer; }

legend {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

tbody {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

tfoot {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

thead {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

th {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block; }

aside {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block; }

canvas {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

details {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block; }

embed {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block; }

figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block; }

footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block; }

header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block; }

hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block; }

menu {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block; }

nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block; }

output {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ruby {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block; }

summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

time {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

mark {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

audio {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

input[type='radio'] {
  vertical-align: text-bottom; }

input[type='button'] {
  cursor: pointer; }

input[type='submit'] {
  cursor: pointer; }

button {
  cursor: pointer; }

.cf {
  *zoom: 1; }
  .cf:before {
    display: table;
    content: " "; }
  .cf:after {
    display: table;
    content: " ";
    clear: both; }

.css-icon-play {
  width: 30px;
  height: 30px;
  position: absolute;
  border: 2px solid #fff;
  border-radius: 100px;
  bottom: 0; }
  .css-icon-play:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8.5px 0 8.5px 15px;
    border-color: transparent transparent transparent #fff; }
  .css-icon-play.hero {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 15px; }
    .css-icon-play.hero:after {
      top: 5px;
      left: 7px;
      border-width: 5px 0 5px 8px; }

.alert,
.messages {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent; }

.alert.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }
.alert.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }
.alert.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }
.alert.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

.messages.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }
.messages.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

.field-name-field-other-industries,
.field-name-field-tags {
  background-color: #d9d9d9;
  display: inline-block;
  font-size: 10px;
  font-size: 0.6666666667em;
  font-weight: bold;
  margin-bottom: 4px;
  padding: 6px 10px;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .field-name-field-other-industries a,
  .field-name-field-tags a {
    color: #7f7f7f; }
    .field-name-field-other-industries a:hover,
    .field-name-field-tags a:hover {
      text-decoration: none; }

.iframe-wrapper {
  background-color: #000;
  padding: 40px 0; }
  @media screen and (max-width: 1240px) {
    .iframe-wrapper {
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 */
      padding-top: 0;
      height: 0; } }
  .iframe-wrapper iframe {
    display: block;
    margin: 0 auto;
    width: 910px;
    height: 512px; }
    @media screen and (max-width: 1240px) {
      .iframe-wrapper iframe {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; } }

iframe {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.arrow {
  display: inline-block;
  width: 0;
  height: 0; }

.arrow-right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000; }

@media screen and (max-width: 1024px) {
  .page-node p img {
    height: auto !important; }
  .page-node h3 img {
    height: auto !important; } }
a img {
  border: 0; }

#user-login {
  margin-bottom: 20px;
  width: 50%; }
  @media screen and (max-width: 500px) {
    #user-login {
      width: 100%; } }

img {
  height: auto;
  max-width: 100%; }

[class*="icon-"] {
  display: inline-block; }

button,
.btn {
  transition: background-color 0.2s; }

.icon-share-raster {
  background: url(../images/icons/png/share-red-raster.png) no-repeat center;
  background-size: contain;
  width: 20px;
  height: 18px; }

.container.wrapper {
  width: 80%; }

.site-name {
  background-color: red; }
  .site-name a {
    padding: 10px;
    color: #fff;
    font-size: 40px;
    font-weight: bolder; }

.search-box h2 {
  font-size: 14px;
  font-weight: bold; }

.search-box form {
  margin-top: 8px; }
  .search-box form .form-search {
    width: 190px;
    padding: 2px 5px 3px 0px; }

#header .search-block-form {
  background-color: #fff; }
  #header .search-block-form:before {
    width: 40px;
    height: 24px;
    top: 32px;
    right: 5px;
    padding: 4px 10px 4px 4px;
    background-color: #fff; }

ul.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  -moz-justify-content: start;
  justify-content: start;
  background-color: #313336;
  border-radius: 10px; }
  ul.menu li.menu-item {
    -webkit-flex-basis: 14%;
    -moz-flex-basis: 14%;
    -ms-flex-preferred-size: 14%;
    flex-basis: 14%; }

#main-menu .wrapper ul.menu li a {
  height: 100%;
  font-size: 15px; }

h2 {
  margin-left: 2%;
  font-size: 28px;
  color: #000;
  font-weight: bolder; }

.articles-list,
.infographics-list,
.case-study-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  -moz-justify-content: start;
  justify-content: start;
  margin: 20px auto; }
  .articles-list > div,
  .infographics-list > div,
  .case-study-list > div {
    width: 46%;
    -webkit-flex-basis: 46%;
    -moz-flex-basis: 46%;
    -ms-flex-preferred-size: 46%;
    flex-basis: 46%;
    margin-left: 2.5%;
    padding: 20px 2%;
    overflow: hidden;
    border-radius: 10px;
    background-color: #CCC; }
    .articles-list > div .industry-articles--figure,
    .articles-list > div .industry-infographics--figure,
    .articles-list > div .industry-case-study--figure,
    .infographics-list > div .industry-articles--figure,
    .infographics-list > div .industry-infographics--figure,
    .infographics-list > div .industry-case-study--figure,
    .case-study-list > div .industry-articles--figure,
    .case-study-list > div .industry-infographics--figure,
    .case-study-list > div .industry-case-study--figure {
      transform: scale(1);
      transition: all 1s ease-in-out; }
      .articles-list > div .industry-articles--figure:hover,
      .articles-list > div .industry-infographics--figure:hover,
      .articles-list > div .industry-case-study--figure:hover,
      .infographics-list > div .industry-articles--figure:hover,
      .infographics-list > div .industry-infographics--figure:hover,
      .infographics-list > div .industry-case-study--figure:hover,
      .case-study-list > div .industry-articles--figure:hover,
      .case-study-list > div .industry-infographics--figure:hover,
      .case-study-list > div .industry-case-study--figure:hover {
        transform: scale(1.1);
        transition: all 1s ease-in-out; }
    .articles-list > div .industry-articles--category,
    .articles-list > div .industry-case-study--category,
    .infographics-list > div .industry-articles--category,
    .infographics-list > div .industry-case-study--category,
    .case-study-list > div .industry-articles--category,
    .case-study-list > div .industry-case-study--category {
      padding: 10px 0 0 0; }
      .articles-list > div .industry-articles--category a,
      .articles-list > div .industry-case-study--category a,
      .infographics-list > div .industry-articles--category a,
      .infographics-list > div .industry-case-study--category a,
      .case-study-list > div .industry-articles--category a,
      .case-study-list > div .industry-case-study--category a {
        display: block;
        font-size: 14px; }
    .articles-list > div .industry-articles--body,
    .articles-list > div .industry-case-study--body,
    .infographics-list > div .industry-articles--body,
    .infographics-list > div .industry-case-study--body,
    .case-study-list > div .industry-articles--body,
    .case-study-list > div .industry-case-study--body {
      padding: 10px 0 0 0; }
      .articles-list > div .industry-articles--body p,
      .articles-list > div .industry-case-study--body p,
      .infographics-list > div .industry-articles--body p,
      .infographics-list > div .industry-case-study--body p,
      .case-study-list > div .industry-articles--body p,
      .case-study-list > div .industry-case-study--body p {
        font-size: 14px; }
    .articles-list > div h4,
    .infographics-list > div h4,
    .case-study-list > div h4 {
      padding: 10px 0 0 0;
      color: #000;
      font-size: 18px;
      font-weight: bold; }
    .articles-list > div .industry-articles--read-more,
    .articles-list > div .industry-infographics--read-more,
    .articles-list > div .industry-case-study--read-more,
    .infographics-list > div .industry-articles--read-more,
    .infographics-list > div .industry-infographics--read-more,
    .infographics-list > div .industry-case-study--read-more,
    .case-study-list > div .industry-articles--read-more,
    .case-study-list > div .industry-infographics--read-more,
    .case-study-list > div .industry-case-study--read-more {
      padding: 15px 0 0 0; }
      .articles-list > div .industry-articles--read-more a,
      .articles-list > div .industry-infographics--read-more a,
      .articles-list > div .industry-case-study--read-more a,
      .infographics-list > div .industry-articles--read-more a,
      .infographics-list > div .industry-infographics--read-more a,
      .infographics-list > div .industry-case-study--read-more a,
      .case-study-list > div .industry-articles--read-more a,
      .case-study-list > div .industry-infographics--read-more a,
      .case-study-list > div .industry-case-study--read-more a {
        color: #000;
        font-weight: bold;
        font-size: 22px;
        transform: scale(1);
        transition: all 0.5s ease-in-out; }
        .articles-list > div .industry-articles--read-more a:after,
        .articles-list > div .industry-infographics--read-more a:after,
        .articles-list > div .industry-case-study--read-more a:after,
        .infographics-list > div .industry-articles--read-more a:after,
        .infographics-list > div .industry-infographics--read-more a:after,
        .infographics-list > div .industry-case-study--read-more a:after,
        .case-study-list > div .industry-articles--read-more a:after,
        .case-study-list > div .industry-infographics--read-more a:after,
        .case-study-list > div .industry-case-study--read-more a:after {
          content: "";
          width: 25px;
          height: 20px;
          margin: 0 0 0 10px;
          display: inline-block;
          background: url(../images/svg/right-arrow.svg) no-repeat;
          background-size: contain;
          vertical-align: middle; }
        .articles-list > div .industry-articles--read-more a:hover,
        .articles-list > div .industry-infographics--read-more a:hover,
        .articles-list > div .industry-case-study--read-more a:hover,
        .infographics-list > div .industry-articles--read-more a:hover,
        .infographics-list > div .industry-infographics--read-more a:hover,
        .infographics-list > div .industry-case-study--read-more a:hover,
        .case-study-list > div .industry-articles--read-more a:hover,
        .case-study-list > div .industry-infographics--read-more a:hover,
        .case-study-list > div .industry-case-study--read-more a:hover {
          transform: scale(1.1);
          transition: all 0.5s ease-in-out; }
    .articles-list > div .industry-infographic--sponser,
    .infographics-list > div .industry-infographic--sponser,
    .case-study-list > div .industry-infographic--sponser {
      padding: 10px 0 0 0; }

.video-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: start;
  -moz-justify-content: start;
  justify-content: start;
  margin: 20px auto; }
  .video-list > div {
    width: 46%;
    -webkit-flex-basis: 46%;
    -moz-flex-basis: 46%;
    -ms-flex-preferred-size: 46%;
    flex-basis: 46%;
    padding: 20px 2%;
    margin-left: 2.5%;
    border-radius: 10px;
    background-color: #CCC; }
    .video-list > div .industry-videos--video {
      width: 100%; }
    .video-list > div .industry-videos--category {
      padding: 10px 0 0 0; }
      .video-list > div .industry-videos--category a {
        display: block;
        font-size: 14px; }
    .video-list > div .industry-videos--body {
      padding: 10px 0 0 0; }
      .video-list > div .industry-videos--body p {
        font-size: 14px; }
    .video-list > div h4 {
      padding: 10px 0 0 0;
      color: #000;
      font-size: 18px;
      font-weight: bold; }
    .video-list > div .industry-videos--read-more {
      padding: 15px 0 0 0; }
      .video-list > div .industry-videos--read-more a {
        color: #000;
        font-weight: bold;
        font-size: 22px;
        transform: scale(1);
        transition: all 0.5s ease-in-out; }
        .video-list > div .industry-videos--read-more a:after {
          content: "";
          width: 25px;
          height: 20px;
          margin: 0 0 0 10px;
          display: inline-block;
          background: url(../images/svg/right-arrow.svg) no-repeat;
          background-size: contain;
          vertical-align: middle; }
        .video-list > div .industry-videos--read-more a:hover {
          transform: scale(1.1);
          transition: all 0.5s ease-in-out; }
    .video-list > div .industry-videos--author {
      padding: 10px 0 0 0;
      float: right;
      color: #000;
      font-size: 18px;
      font-weight: bold;
      text-transform: capitalize; }

.more-link {
  padding: 15px 0 0 0;
  text-align: center; }
  .more-link a {
    border: 2px solid;
    background-color: #fff;
    color: rgba(241, 13, 44, 0.712);
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out; }
    .more-link a:hover {
      border: 2px solid;
      background-color: rgba(241, 13, 44, 0.712);
      color: #fff;
      transition: all 0.5s ease-in-out; }

#panel_first .container {
  background-color: #eee; }

.related-content-list {
  display: flex;
  justify-content: start;
  margin: 20px auto; }
  .related-content-list > div {
    margin-left: 2.5%;
    padding: 10px 2%;
    overflow: hidden;
    border-radius: 10px;
    background-color: #CCC;
    flex-basis: 30%;
    width: 30%; }
    .related-content-list > div .industry-articles--figure,
    .related-content-list > div .industry-infographic--figure,
    .related-content-list > div .industry-case-study--figure {
      transform: scale(1);
      transition: all 1.5s ease-in-out; }
      .related-content-list > div .industry-articles--figure:hover,
      .related-content-list > div .industry-infographic--figure:hover,
      .related-content-list > div .industry-case-study--figure:hover {
        transform: scale(1.2);
        transition: all 1.5s ease-in-out; }
    .related-content-list > div .industry-articles--category,
    .related-content-list > div .industry-infographic--category,
    .related-content-list > div .industry-case-study--category {
      padding: 10px 0 0 0; }
      .related-content-list > div .industry-articles--category a,
      .related-content-list > div .industry-infographic--category a,
      .related-content-list > div .industry-case-study--category a {
        display: block;
        font-size: 14px; }
    .related-content-list > div .industry-articles--body,
    .related-content-list > div .industry-case-study--body {
      padding: 10px 0 0 0; }
      .related-content-list > div .industry-articles--body p,
      .related-content-list > div .industry-case-study--body p {
        font-size: 14px; }
    .related-content-list > div h4 {
      padding: 10px 0 0 0;
      color: #000;
      font-size: 18px;
      font-weight: bold; }
    .related-content-list > div .industry-articles--read-more,
    .related-content-list > div .industry-infographic--read-more,
    .related-content-list > div .industry-case-study--read-more {
      padding: 15px 0 0 0; }
      .related-content-list > div .industry-articles--read-more a,
      .related-content-list > div .industry-infographic--read-more a,
      .related-content-list > div .industry-case-study--read-more a {
        color: #000;
        font-weight: bold;
        font-size: 22px;
        transform: scale(1);
        transition: all 0.5s ease-in-out; }
        .related-content-list > div .industry-articles--read-more a:after,
        .related-content-list > div .industry-infographic--read-more a:after,
        .related-content-list > div .industry-case-study--read-more a:after {
          content: "";
          width: 25px;
          height: 20px;
          margin: 0 0 0 10px;
          display: inline-block;
          background: url(../images/svg/right-arrow.svg) no-repeat;
          background-size: contain;
          vertical-align: middle; }
        .related-content-list > div .industry-articles--read-more a:hover,
        .related-content-list > div .industry-infographic--read-more a:hover,
        .related-content-list > div .industry-case-study--read-more a:hover {
          transform: scale(1.1);
          transition: all 0.5s ease-in-out; }
    .related-content-list > div .industry-videos--category {
      padding: 10px 0 0 0; }
      .related-content-list > div .industry-videos--category a {
        display: block;
        font-size: 14px; }
    .related-content-list > div .industry-videos--body {
      padding: 10px 0 0 0; }
      .related-content-list > div .industry-videos--body p {
        font-size: 14px; }
    .related-content-list > div .industry-videos--read-more {
      padding: 15px 0 0 0; }
      .related-content-list > div .industry-videos--read-more a {
        color: #000;
        font-weight: bold;
        font-size: 22px;
        transform: scale(1);
        transition: all 0.5s ease-in-out; }
        .related-content-list > div .industry-videos--read-more a:after {
          content: "";
          width: 25px;
          height: 20px;
          margin: 0 0 0 10px;
          display: inline-block;
          background: url(../images/svg/right-arrow.svg) no-repeat;
          background-size: contain;
          vertical-align: middle; }
        .related-content-list > div .industry-videos--read-more a:hover {
          transform: scale(1.1);
          transition: all 0.5s ease-in-out; }

.more-content-list {
  margin: 20px auto; }
  .more-content-list .industry-articles--category,
  .more-content-list .industry-case-study--category {
    padding: 5px 0 0 0; }
    .more-content-list .industry-articles--category a,
    .more-content-list .industry-case-study--category a {
      display: block;
      font-size: 14px; }
  .more-content-list .industry-articles--body,
  .more-content-list .industry-case-study--body {
    padding: 10px 0 0 0; }
    .more-content-list .industry-articles--body p,
    .more-content-list .industry-case-study--body p {
      font-size: 14px; }
  .more-content-list h4 {
    padding: 10px 0 0 0;
    color: #000;
    font-size: 18px;
    font-weight: bold; }
  .more-content-list .industry-articles--read-more,
  .more-content-list .industry-infographics--read-more,
  .more-content-list .industry-case-study--read-more {
    padding: 15px 0 0 0; }
    .more-content-list .industry-articles--read-more a,
    .more-content-list .industry-infographics--read-more a,
    .more-content-list .industry-case-study--read-more a {
      color: #000;
      font-weight: bold;
      font-size: 22px;
      transform: scale(1);
      transition: all 0.5s ease-in-out; }
      .more-content-list .industry-articles--read-more a:after,
      .more-content-list .industry-infographics--read-more a:after,
      .more-content-list .industry-case-study--read-more a:after {
        content: "";
        width: 25px;
        height: 20px;
        margin: 0 0 0 10px;
        display: inline-block;
        background: url(../images/svg/right-arrow.svg) no-repeat;
        background-size: contain;
        vertical-align: middle; }
      .more-content-list .industry-articles--read-more a:hover,
      .more-content-list .industry-infographics--read-more a:hover,
      .more-content-list .industry-case-study--read-more a:hover {
        transform: scale(1.1);
        transition: all 0.5s ease-in-out; }
  .more-content-list .industry-infographic--sponser {
    padding: 10px 0 0 0; }

#footer .block {
  width: 100%; }
#footer ul.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  #footer ul.menu li {
    padding: 0;
    margin: 0; }

.menu--footer {
  background-color: #313336;
  padding: 20px; }

/*# sourceMappingURL=style.css.map */
